@model ShauliBlogProject.Models.Post

<h3 style="font-style:oblique">May be of interest:</h3>
<h4><a href="@Href("~/Blog/Details/" + Model.PostID)">@Model.Title</a></h4>
<p>By @Model.Author on @Model.postDate.ToString()</p>







